{%extends "app/index.html"%}

{%block titulo%}
<h1 class="lead text-white-50 mb-4">NUESTRA MISION Y COMPROMISO CON NUESTROS CLIENTES</h1>

{%endblock titulo%}

{%block contenido%}
<br>
<h2 class= "lead text-black-50 mb-4">Seguranza Seguros SA se fundó en 1998 en la vibrante ciudad de Buenos Aires, Argentina, con la firme convicción de ofrecer protección y tranquilidad a todos los hogares y familias del país. Nuestra misión es brindar soluciones de seguros innovadoras y confiables que se adapten a las necesidades cambiantes de nuestros clientes, garantizando la seguridad y el bienestar de sus hogares.
    Nos comprometemos a ofrecer un servicio excepcional, basado en la confianza, la transparencia y la atención personalizada. Nuestra visión es ser reconocidos como líderes en la industria de seguros de hogar, siendo referentes en calidad, integridad y compromiso con nuestros asegurados.
    En Seguranza Seguros SA, trabajamos incansablemente para proteger lo que más valoras: tu hogar, tu familia y tus posesiones. Nuestro objetivo es ser tu socio de confianza en momentos de incertidumbre, brindándote la tranquilidad y seguridad que te mereces.</h2>
    <br>

<a href= '/home' class="btn btn-success">Volver al Inicio</a>

<br>
<br>

Y ahora les cuento un poquito sobre mi... 
Bueno tengo 23 años, estoy estudiando actuario en la universidad de buenos aires y una de las razones por la cual yo desarrolle esta pagina
es que el donde yo quiero desarrollarme en un futuro es el area de los Seguros, y es por eso que quise desarrollar la propia para poder incentivarme
y volar un poco con mi imaginacion para mi futura empresa. 
<br>
<br>

    {%endblock contenido%}